<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="heatmap test">
    <meta name="author" content="bamchoh">
    <link rel="icon" href="/static/favicon.ico">

    <title>Heatmap Test</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- My Javascripts -->
    <script src="/static/js/clickevent.js" type="text/javascript" defer></script>

		<!-- Google Ads -->
		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<script>
(adsbygoogle = window.adsbygoogle || []).push({
	google_ad_client: "ca-pub-2798788881110446",
	enable_page_level_ads: true
});
		</script>
</head>
