<!doctype html>
<html lang="en">
  {{template "header.tmpl.html"}}
  <body class="text-center" id="body">
    <link href="/static/css/index.css" rel="stylesheet">

    {{template "navbar.tmpl.html"}}
    <main role="main" class="container">
      <div class="my-3 p-3 bg-white rounded box-shadow">
        <h1>Page2</h1>
        <h6 class="border-bottom border-gray pb-2 mb-0">
          <strong class="d-block text-gray-dark">@{{ .user_id }}</strong>
        </h6>
        <div class="media text-muted pt-3">
          <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray text-left">
            test
          </p>
        </div>
        <div class="media text-muted pt-3">
          <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray text-left">
            test
          </p>
        </div>
        <small class="d-block text-right mt-3">
          <a href="#">All updates</a>
        </small>
      </div>
    </main>
    <footer>
      <p class="mt-5 mb-3 text-muted">&copy; 2018 bamchoh</p>
    </footer>
  </body>
</html>
